.items{
    background-color: rgb(255, 151, 151);
    padding: 20px;
}
.items img{
    width: 150px;
}
.btn {
    padding: 10px 15px;
    color: white;
    background-color: rgb(226, 66, 38);
    border: none;
    border-radius: 5px;
    margin: 20px auto;
    display: block;
    
}